@use './partials/variables' as *;

header {
    font-family: 'Bai Jamjuree', sans-serif;

    .nav {
        font-family: 'Roboto', sans-serif;

    }
}



.gi-button {
    padding: 20px 50px;
    border: 0;
    transition: all 0.25s;
    @include primary-btn
}

;